
.commonHeight{
    height: 100px;
}

.marginLabel {
    margin-bottom: 15%;
}

.boxLabel {
    background-color:rgba(255, 255, 255, 0.4);
    height: 60px;
    padding-top: 20px;
}
.center-logo{
    height: 50;
    width: 50;
    // border-radius: 30;
    // background-color: white;
}

:host {
    .page-content{
        --background: #F68220;
      }
    .page-card{
        margin-top: 50%;
        background-color: white;
    }
            .item-highlight{
                color: white;
            }
    .required::after {
        content: "*";
        color: red;
        position: relative;
        top: -.6em;
    }
    .width-100{
        width: 100%;
    }
    .no-padding-margin {
        margin: 0px;
        padding: 0px;
    }

    .custom-title {
        display: inline-flex;
      }
      
      .home-logo{
        height: 40px;
        width: 40px;
        // border-radius: 20px;
      }
}
