.page-content{
    --background: #555c66;
  }
  .page-card{
    --background: white;
    color: black;
  }
  ion-label{
    color: black;
}
ion-title{
  color: black;
}

.padding-0 {
  padding: 2px;
}