:host {
    .font-20 {
        font-size: 20px;
    }
    .font-15 {
        font-size: 15px;
    }
    .font-25 {
        font-size: 25px;
    }
    
    .font-30 {
        font-size: 30px;
    }
    
    .padding-0 {
        padding: 0px;
        margin: 0px;
    }
    .page-content{
        --background: #555c66;
      }
      .white-fonts{
          color: white;
      }
      .page-card{
        --background: white;
        color: black;
    }
    
      ion-title{
        color: black;
      }
      .custom-title {
        display: inline-flex;
      }
      
      .home-logo{
        height: 40px;
        width: 40px;
        // border-radius: 20px;
      }
}