:host {
    .page-content{
        --background: #555c66;
      }
    .padding-left-10 {
        padding-left: 10 !important;
    }

    .width-100 {
        width: 100%;
    }
    ion-label{
        color: black;
      }
      ion-title{
        color: black;
      }
}
.custom-title {
  display: inline-flex;
}

.home-logo{
  height: 40px;
  width: 40px;
  // border-radius: 20px;
}

.no-wall {
    --background: none;
    background: none;
  }

.page-card{
    --background: white;
    color: black;
}