<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-row class="ion-justify-content-center">
      <ion-col class="custom-title no-padding-margin">
        <img class="home-logo" src="./assets/logo.png" alt="LOGO">
        <ion-label align-self-center class="font-size-20"><b>Simulate Details Planning</b></ion-label>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <ion-card class="page-card">
    <ion-card-content>

      <ion-row>
        <ion-col col-4>
          <ion-label>District :</ion-label><br>
          <ion-label class="font-20">Ahmedabad</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>Block :</ion-label><br>
          <ion-label class="font-20">Kankaria</ion-label>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col col-3>
          <ion-label>Product :</ion-label><br>
          <ion-label class="font-20">Urea</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label>Qty. :</ion-label><br>
          <ion-label class="font-20">200 T</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label>Govt reimbust :</ion-label><br>
          <ion-label class="font-20">₹ 125</ion-label>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

  <ion-card color="primary" class="page-card">
    <ion-card-content text-center>
      <ion-label class="font-20">Agreed Rate :₹ 75</ion-label><br>
      <hr>
      <ion-label class="font-30">₹ 65/T</ion-label><br>
      <hr>
      <ion-label class="font-20">Total loss : ₹ 10</ion-label><br>
    </ion-card-content>
  </ion-card>

</ion-content>